<div class="mt-16 text-xs text-gray-700">
  <div>CSS by <a href="https://tailwindcss.com/">TailwindCSS</a>.</div>
  <div>Border CSS by <a href="https://www.getpapercss.com/">Paper CSS</a>.</div>
  <div>Syntax Highlighting by <a href="https://prismjs.com/">PrismJS</a>.</div>
  <div>Mali font by <a href="https://fonts.google.com/">Google Fonts</a>.</div>
  <div>GitHub icon by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel Perfect">Pixel Perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</div>
</div>

<div class="w-2 h-2 bg-gray-400 border border-black absolute top-0 left-0 rounded-full mt-4 ml-8"></div>
<div class="w-2 h-2 bg-gray-400 border border-black absolute top-0 right-0 rounded-full mt-4 mr-8"></div>
<div class="w-2 h-2 bg-gray-400 border border-black absolute bottom-0 left-0 rounded-full mb-4 ml-8"></div>
<div class="w-2 h-2 bg-gray-400 border border-black absolute bottom-0 right-0 rounded-full mb-4 mr-8"></div>
</div>
</body>
</html>