@tailwind base;
@tailwind components;

html, body {
  @apply h-full;
}

body {
  @apply bg-yellow-100 text-gray-900 font-sans;
}

button:focus {
  outline: 0;
}

.border-x1 {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px
}

.border-x2 {
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 255px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 255px 15px
}

.border-x3 {
  border-bottom-left-radius: 25px 115px;
  border-bottom-right-radius: 155px 25px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 25px 150px
}

.btn {
  @apply shadow-md p-2 border-2 bg-white border-gray-900 text-center no-underline;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.5s;
}

.btn.active {
  @apply bg-gray-200 shadow;
  transform: translate(0, 2px);
}

.text-outline {
  text-shadow:
   -1px -1px 0 #718096,  
    1px -1px 0 #718096,
    -1px 1px 0 #718096,
     1px 1px 0 #718096;
}

a {
  @apply underline text-blue-800;
}

p, ul, ol {
  @apply mt-2;
}

li {
  @apply mt-1;
}

h2 {
  @apply text-2xl mt-8;
}

h3 {
  @apply text-lg font-bold mt-6;
}

ul, ol {
  @apply ml-6;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

pre {
  @apply border-2 rounded mt-2 p-4 bg-orange-100 overflow-auto;
}

code {
  @apply bg-gray-200;

  padding: 0.1em 0.2em;
}

pre code {
  @apply bg-transparent p-0;
}

span.hljs-attr {
  @apply text-red-800;
}

@tailwind utilities;